.thumbnail{
    width:100%;
}
.work_thumbnail{
    width:100%;
}

.workitem{
    height:550px;
    margin:1%;
    width:48%;
    float:left;
}

.main{
    margin:auto;
    width:60%;
}

.workview{
    padding:1%;
    margin:1%;
}

.workitemdesc{
    padding:1%;
}

.tweet{
    border:solid 1px rgb(173, 173, 173);
    width:50%;
}

.backbutton{
    margin:2%;
}