.thumbnail{
    width:95%;
    padding:10px;
}
.work_thumbnail{
    width:100%;
}

.workitem{
    margin:20px;
    width:30%;
}

.workslist{
}

.workview{
    width:50%;
    padding:1%;
    margin:1%;
}

.workitemdesc{
    padding:1%;
}