.navbar{
  text-align: center;
}
.navitem{
  padding:20px;
}

body{
  background-color: rgb(231, 231, 231);
}

.linkIcon{
  transform: scale(3,3);
  width:50px;
}

.footer{
  border:50px;
}

.item{
  width:50%;
}

.elm{
  padding:1%;
  margin:2%;
}