.avater{

    width:50%;
    box-shadow:2px 4px 10px -3px #7c7c7c;
    border-radius: 50%;

}
.av{
    text-align: center;
}
.me{
    position:fixed;
    margin-top: 2%;
    right:0%;
    width: 18%;
    padding:1%;
}


